{% load static %}

<head>
    <link rel="stylesheet" href="https://cdn.acwing.com/static/jquery-ui-dist/jquery-ui.min.css">
    <script src="https://cdn.acwing.com/static/jquery/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/shi.css' %}">
</head>

<body style="margin: 0">
    <h2>
        欢迎来到OUC高光谱图像分类！
    </h2>
    <h3>
        简介：
    </h3>
    <h4>
        光谱分辨率在0.01λ数量级范围内的光谱图像称为高光谱图像。高光谱图像分类技术通过搭载在不同空间平台上的高光谱传感器，在电磁波谱的紫外、可见光、近红外和中红外区域，以数十至数百个连续且细分的光谱波段对目标区域同时成像。在获得地表图像信息的同时，也获得其光谱信息，真正做到了光谱与图像的结合。
    </h4>
    <a href="func">
        点击此处开始进行高光谱图像分类
    </a>
</body>

